#content{
  margin: 0 auto;
  width: 900px;

}

.Masthead{
align: center;

}

.headline{
  font-family: Georgia, Times, serif;
}

p{
  font-family: Georgia, Times, serif;
}

.body-images{
  max-width: 300px:
  max-height: 300px;
  margin: 30;
}
