#content{
  margin: 0 auto;
  width: 900px;

}

.headline {
font-family: Helvetica, sans-serif;
font-size: 37px;
}


.byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

blockquote{
  font-family: Georgia, serif;
  font-size: 24px;
  font=style: italic;
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 50px;
  padding left: 15px;
  border-left:4px solid #ccc;
}

.masthead{
  margin: 0 auto;
  width:100%;
}

.body-images{
margin: 0 auto;
height: 700px;
width: 1000px;
}

.links{
  font-family: Georgia, serif;
  padding: 15px;
  margin-bottom: 15px;

}

.actual-links{
  padding:5px;
}

.caption{
  color:gray;
  font-size:15px;
}
