


.Masthead{
  margin: 0 auto;
  width:100%;
  padding:0;

}

#links{
  padding: 45px;
}

#headshot{
  padding-left:45px;

}

.about{
  padding-top: 100px;
}

.col {
  text-align: center
}

.experience {
  font-family: Georgia, Times, serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

}

#education-skills{
  font-family: Georgia, Times, serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#container{
  width:100%;
  max-width: 1200px;
  margin:0 auto;
}


#title{
  color:#33485e:
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

}


.sectionheader {
  font-family: Futura, Helvetica, sans-serif;
  color: navy;
  font-size: 50px;
  font-weight: 400;
  margin: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;

}

h2{
  font-family: Futura, Helvetica, sans-serif;
  padding-bottom: 10px;
  color: navy;
}

h3{
  font-family: Futura, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: navy;

}

h5{
  color:navy;
}

.organization{
  font-weight: 400;
  font-size: 1.25em;
}

.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;

}


#degrees{
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

}

●{
  font-size: 1em;
}

#cards{
  padding-left: 275px;
  padding-bottom: 50px;
}
