.nav-logo{
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red{
  color:#D1110A;
}

#white{
color:#fff;
}

.hero-container{
  position:relative;
  text-align: center;
  color: #fff;
}

.hero-image{
  width:100%;

}

.container{
  width:50%;
}

video#bgvideo {
  position: relative;
  top: 75%;
  left: 50%;
  width: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}

.overlay{
  position:absolute;
  top:55%;
  width: 100%;
  background: #000;
  opacity:.7;
}

.hero-head{
  font-family:'Bebas Neue', sans-serif;
  font-size:8em;
  color: #CC1411;
  margin: 0 auto;
  padding-bottom: 10px;
  letter-spacing: 12px;
  font-weight: bold;

}

.sub-head{
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;


}

.background{
background-color:#012736;

}

.headline{
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #D1110A;
  letter-spacing: 4px;

}

.byline{
  font-size: 1em;
  text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: left;

}

.intro{
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  color:#D1110A;
  font-weight: 700;
  letter-spacing: 2px;
}

.section-head{
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color:#CC1411;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;

}

.body-image{
  margin: 0 auto;
  border:0;
  display: block;
  height: auto;
  max-width: 100%;
}

.tall-image{
  margin: 0 auto;
  border:0;
  display: block;
  height: 65%;
  max-width: 65%;

}

.quote{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: left;
  font-style: italic;
  padding: 15px 0 15px 0;
  border-top:.05em solid #CC1411;
  border-bottom:.05em solid #CC1411;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;

}

.quote-attribution{
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: left;
  color: #fff;

}

.sidebar{
  border-top:.25em solid #CC1411;
  border-bottom:.25em solid #CC1411;
  border-left:.25em solid #CC1411;
  border-right:.25em solid #CC1411;
  margin-top: 20px;
  margin-bottom: 20px;
  width:65%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.sidebar-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  margin: 0 auto;
  text-align: center;
  font-weight:700;
  letter-spacing: 3px;
  }

.sidebar-text{
  font-family: 'Georgia', serif;
  line-height: 180%;
  font-weight:500;
  text-align:left;

}

p{
  font-family: 'Georgia', serif;
  line-height: 180%;
}

.image{
  margin: 0 auto;
  border:0;
  display: block;
  height: auto;
  max-width: 100%;
}

.caption{
    color:gray;
    font-size:1em;
    text-align: left;
    width: 75%;
    padding: 20px;
  }

.footer{
  text-align: left;
}

@media(max-width:650px){

  p{
  padding-left: 20px;
  padding-right: 10px;}

.hero-head{
  font-size:1.5em;

}

  .quote{
    font-size: 1.5em;
  }


}
