.headline {
font-family: Georgia, Times, serif;
font-size: 37px;
}

.byline {
font-family: Georgia, Times, serif;
font-size: 14px;
font-style: italic;
font-weight: bold;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h2{
  margin: 0 auto;
  text-align:center;
}

.Masthead{
  margin: 0 auto;
  width:100%;
  padding:0;
}

#story{
  margin: 0 auto;
  width: 1000px;

}
/*This is for the body imgaes*/

.body-image{
  margin: 0 auto;
  border:0;
  display: block;
  height: auto;
  max-width: 100%;
}

.headline-image{
  margin: 0 auto;
  border:0;
  display: block;
  height: auto;
  max-width: 100%;
  padding-top: 30px;
}

blockquote{
  font-family: Georgia, serif;
  font-size: 24px;
  font=style: italic;
  color: green;
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 50px;
  padding left: 15px;
  border-left:4px solid #ccc;

.caption{
    color:gray;
    font-size:15px;
  }

.related-items{
    font-family: Georgia, serif;
    padding: 15px;
    margin-bottom: 15px;

  }

  .links{
    padding:5px;
  }
